src/templates/index.pug
extends core/master

block prepend body

    main(class="content container")
        div(id="die1" class="dice") 0
        div(id="die2" class="dice") 0
        div.controls
            <button onclick="rollDice()">Roll Dice</button>
            p#status
            p#status2

    div#dice-wrapper
        include components/dice

block append scripts

src/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dice Roller</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <main class="content container">
      <div class="dice" id="die1">0</div>
      <div class="dice" id="die2">0</div>
      <div class="controls"><button onclick="rollDice()">Roll Dice</button>
        <p id="status"></p>
        <p id="status2"></p>
      </div>
    </main>
    <div id="dice-wrapper">
      <div class="first-face"><span class="pip"></span></div>
      <div class="second-face"><span class="pip"></span><span class="pip"></span></div>
      <div class="third-face"><span class="pip"></span><span class="pip"></span><span class="pip"></span></div>
      <div class="fourth-face">
        <div class="column"><span class="pip"></span><span class="pip"></span></div>
        <div class="column"><span class="pip"></span><span class="pip"></span></div>
      </div>
      <div class="fifth-face">
        <div class="column"><span class="pip"></span><span class="pip"></span></div>
        <div class="column"><span class="pip"></span></div>
        <div class="column"><span class="pip"></span><span class="pip"></span></div>
      </div>
      <div class="sixth-face">
        <div class="column"><span class="pip"></span><span class="pip"></span><span class="pip"></span></div>
        <div class="column"><span class="pip"></span><span class="pip"></span><span class="pip"></span></div>
      </div>
    </div>
    <script src="js/dice.js"></script>
  </body>
</html>
